.product {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  
}

.product img{
  max-width: 100px;
  border: 1px solid #ff7f32;
  border-radius: 10px;
}

.product span {
  font-size: 13px;
  font-weight: 600;
  color: #47484b;
  margin-bottom: 8px;
  display: block;
}

.product p {
  font-size: 11px;
  font-weight: 600;
  color: #7a7c81;
}

.card .small {
  font-size: 15px;
  margin: 0 0 auto auto;
}

.card .small sup {
  font-size: px;
}
.remove-button {
  height: 25px;
  width: 25px;
  color: white; /* Asegura que el texto sea legible */
  border: none;
  margin-bottom: 8px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-image: url(/public/img/BiTrash.svg);
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  transform: scale(0.9);
  transition: transform 0.1s ease-in-out;

}
.remove-button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}



